 <div class="container-fluid mt-5 contact-style" id = "About"></div>
      {{!-- <div class="container-fluid mt-5 contact-style" id = "contactid"></div> --}}
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-center flex-column">
                        <h1>About Us</h1>
                        <h1>grow your business</h1>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam dolor aperiam
                            <span class ="bold-style">professional developper</span >  delectus eveniet!</p>
                        <button class="btn-style btn-primary" >Read more></button>
                    </div>

                    {{!-- right side --}}
                    <div class="col-md-6 col-12 hero-text order-md-1 order-0 ">
                    <figure>
                    {{!-- <img src = "images/growth.png" alt="My Happy SVG"/>--}}
                    
                    <img src="https://source.unsplash.com/400x500/?Web coding,coding,landscape" class="img-fluid" alt="Responsive image">

                    </figure>

                    {{!--right side--}}

                    </div>
                </div>
            </div>
        </div>
    </div>